html {
  color: #444;
  font-family: "Roboto Mono", Roboto, sans-serif;
  background-color: #fff;
}

p, h1, h2, h3, h4, h5, span, li {
  color: #444;
  font-weight: normal;
}

pre {
  padding: 10px;
}

pre, code {
  background-color: #fafafa;
  color: #444;
}

a {
  color: #009688;
  text-decoration: none;
  opacity: 0.8;
  font-size: 16px;
}

a:hover {
  color: #009688;
  opacity: 1;
}


/* base font sizes */

/* mobile first */
p, li, a {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}
h4 {
    font-size: 16px;
    font-weight: normal;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}
h2 {
    font-size: 24px;
    font-weight: normal;
}
h1 {
    font-size: 28px;
    font-weight: normal;
}

@media (min-width: 400px) {
    p, li, a {
        font-size: 12px;
    }
    h5 {
        font-size: 16px;
    }
    h4 {
        font-size: 20px;
    }
    h3 {
        font-size: 24px;
    }
    h2 {
        font-size: 28px;
    }
    h1 {
        font-size: 32px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    p, li, a {
        font-size: 14px;
    }
    h5 {
        font-size: 18px;
    }
    h4 {
        font-size: 22px;
    }
    h3 {
        font-size: 26px;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 34px;
    }
}

@media (min-width: 650px) {
    p, li, a {
        font-size: 16px;
    }
    h5 {
        font-size: 20px;
    }
    h4 {
        font-size: 24px;
    }
    h3 {
        font-size: 28px;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 36px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    p, li, a {
        font-size: 18px;
    }
    h5 {
        font-size: 22px;
    }
    h4 {
        font-size: 26px;
    }
    h3 {
        font-size: 30px;
    }
    h2 {
        font-size: 34px;
    }
    h1 {
        font-size: 38px;
    }
}

@media (min-width: 850px) {
    p, li, a {
        font-size: 20px;
    }
    h5 {
        font-size: 24px;
    }
    h4 {
        font-size: 28px;
    }
    h3 {
        font-size: 32px;
    }
    h2 {
        font-size: 36px;
    }
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 950px) {
    p, li, a {
        font-size: 22px;
    }
    h5 {
        font-size: 26px;
    }
    h4 {
        font-size: 30px;
    }
    h3 {
        font-size: 34px;
    }
    h2 {
        font-size: 38px;
    }
    h1 {
        font-size: 42px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    p, li, a {
        font-size: 24px;
    }
    h5 {
        font-size: 28px;
    }
    h4 {
        font-size: 32px;
    }
    h3 {
        font-size: 36px;
    }
    h2 {
        font-size: 40px;
    }
    h1 {
        font-size: 44px;
    }
}

@media (min-width: 1100px) {
    p, li, a {
        font-size: 26px;
    }
    h5 {
        font-size: 30px;
    }
    h4 {
        font-size: 34px;
    }
    h3 {
        font-size: 38px;
    }
    h2 {
        font-size: 42px;
    }
    h1 {
        font-size: 46px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    p, li, a {
        font-size: 28px;
    }
    h5 {
        font-size: 32px;
    }
    h4 {
        font-size: 36px;
    }
    h3 {
        font-size: 40px;
    }
    h2 {
        font-size: 44px;
    }
    h1 {
        font-size: 48px;
    }
}

@media (min-width: 1300px) {
    p, li, a {
        font-size: 30px;
    }
    h5 {
        font-size: 34px;
    }
    h4 {
        font-size: 38px;
    }
    h3 {
        font-size: 42px;
    }
    h2 {
        font-size: 46px;
    }
    h1 {
        font-size: 50px;
    }
}

@media (min-width: 1400px) {
    p, li, a {
        font-size: 32px;
    }
    h5 {
        font-size: 36px;
    }
    h4 {
        font-size: 40px;
    }
    h3 {
        font-size: 44px;
    }
    h2 {
        font-size: 48px;
    }
    h1 {
        font-size: 52px;
    }
}

@media (min-width: 1500px) {
    p, li, a {
        font-size: 34px;
    }
    h5 {
        font-size: 38px;
    }
    h4 {
        font-size: 42px;
    }
    h3 {
        font-size: 46px;
    }
    h2 {
        font-size: 50px;
    }
    h1 {
        font-size: 54px;
    }
}

@media (min-width: 1600px) {
    p, li, a {
        font-size: 36px;
    }
    h5 {
        font-size: 40px;
    }
    h4 {
        font-size: 44px;
    }
    h3 {
        font-size: 48px;
    }
    h2 {
        font-size: 52px;
    }
    h1 {
        font-size: 56px;
    }
}
