.search {
  color: #009688;
  display: inline-block;
  width: 100%;
  font-size: 24px;
}

.searchInput {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 1%;
  font-size: 24px;
}

.loader {
  color: #009688;	
}
